%ul
  %li.chat-main__body--message-name namenamenamenamanamename
  %li.chat-main__body--message-date 2018/10/10
  %li.chat-main__body--message-text texttexttextttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
//名前、日時、textが必要でです。
