%div.chat
  = render 'shared/chat-side'
  %div.chat-main
    %div.chat-main__header
      %div.chat-main__header--group Group名
      %div.chat-main__header--group-user groupメンバー
      = link_to edit_user_path(current_user) do
        %div.chat-main__header--group-edit{:style => "text-decoration: none;"} edit
        / text-decorationがうまく適応されないお！
    %div.chat-main__body
      %div.chat-main__body--message
        %ul
          %li.chat-main__body--message-name namenamenamenamanamename
          %li.chat-main__body--message-date 2018/10/10
          %li.chat-main__body--message-text texttexttexttttttttttttt//名前、日時、textが必要でです。
    %div.chat-main__footer
      %form{action: "", method: "post", name: "search"}
        %input{name: "search",placeholder: "type a message",class: 'input_text'}
        %label
          = link_to do
            = fa_icon 'image', class: 'img_icon'
        %input{type: "submit",class: 'submit'}
