.chat-side {
	width:30%;
	float:left;
    height: calc(100vh);
}
  .chat-side__user {
    height:15%;
    background-color: #253141;  //変数がうまく反映されない！！
    color: white;
    padding: 0 20px 0 20px;

    .chat-side__user-contents {
    }
    .chat-side__user--name {
      font-size: 22px;
    }
  }
  .chat-side__group {
    height: 85%;
    background-color: #2f3e51;
  }
