.chat-main {
  float: left;
  width: 70%;
  height: calc(100vh);

  .chat-main__header {
  	height: 15%;
    .chat-main__header--group {
    }
  }
  .chat-main__body {
  	background-color: red;

  }
  .chat-main__footer {

  }
}
