.chat-main {
  float: left;
  height: 100%;
  width: 80%;
  &__header {
  	height: 15%;
    width:93.7%;
    padding: 0 40px 0 40px;
    border-bottom: 1px solid $gray;
    // border-right: 1px solid $gray;
    &-left {
      position: relative;
      display: inline-block;
      width:90%;
      height:100%;
      &-name {
        position: absolute;
        bottom: 0;
        display: block;
        height:70%;
        font-size: 20px;
        font-color: $black;
        padding: 35px 0 15px;
      }
      &-user {
        position: absolute;
        bottom: 0;
        // height:40%;
        display: block;
        font-size: 12px;
        font-color: #999999;
      }
    }
    &-right {
      width:9%;
        width: 70px;
        height: 40px;
        color: $blueback;
      }
    }
  }
  .chat-main__body {
    height: 75%;
    padding: 0 40px 0 40px;
      .chat-main__body--message {
        padding-top: 46px;
        .clearfix:after {
          display: block;
          clear: both;
          height: 0px;
          visibility: hidden;
          content: "";
        }
        .chat-main__body--message-name {
          font-size: 16px;
          padding-right: 10px;
          font-weight: bold;
          float: left;
        }
        .chat-main__body--message-date {
        }
        .chat-main__body--message-text {
          font-size: 14px;
          padding-top: 10px;
          padding-bottom: 40px;
        }
      }
  }
  .chat-main__footer {
    width: 75%;
    height: 7%;
    position: absolute;
    bottom: 0;
    padding: 20px 40px 20px 40px;
    background-color: gray;
      &-text {
        width: 80%;
        display: inline-block;
        background-color: white;
        .input_text {
          display: inline-block;
          border-style: none;
          height: 50px;
          width: 95%;
        }
        &-img {
          display: inline-block;
          width:3%;
          .img_icon {
          color: black;
          font-size: 150%;
          }
        }
      }
      .submit {
        display: inline-block;
        margin-left: 2%;
        background-color: $light_blue;
        height: 50px;
        width: 10%;
        color: white;
        border: 1px solid $light_blue;
      }
  }
}
